:root {
    --chameleo-green: #00AF55;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    width: 500px;
    margin: auto;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    margin: 30px auto 0 auto;
}

.hero-buttons {
    display: flex;
    margin-top: 50px;
    column-gap: 20px;
}

.cta-github {
    border: 2px solid var(--chameleo-green);
    color: var(--chameleo-green);
    background-color: #ffffff;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}
.cta-github:hover {
    background-color: rgb(0, 175, 85, 0.1);
}
.cta-contact {
    border: none;
    color: rgb(102, 102, 102);
    text-decoration: underline;
    background-color: #ffffff;
    font-size: 16px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}
.cta-contact:hover {
    background-color: rgb(102, 102, 102, 0.1);
}

.contact-button {
    padding: 7px 20px;
    color: #666666;
    text-decoration: none;
    border: 2px solid var(--chameleo-green);
    border-radius: 20px;
    transition: 0.2s;
}

.contact-button:hover {
    background-color: var(--chameleo-green);
    color: #ffffff;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(85vh - 90px);
    margin-top: 40px;
}

.subheader {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000000;
}

.header-icon {
    height: 60px;
}

.contact-button {
    padding: 7px 20px;
    color: #666666;
    text-decoration: none;
    border: 2px solid var(--chameleo-green);
    border-radius: 20px;
    transition: 0.2s;
}

.contact-button:hover {
    background-color: var(--chameleo-green);
    color: #ffffff;
}

.header-text:hover {
    text-decoration: underline;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    font-size: 100px;
    font-weight: 800;
}

#design {
    width: 346.73px;
    white-space: nowrap;
}

#design::before {
    content: 'Design';
    transition: 0.5s;
}
#design::after {
    width: 346.73px;
    background-color: transparent;
    transition: 0.5s;
    content: 'Design';
    margin-left: -368px;
    opacity: 0;
    background-image: linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design::after {
    opacity: 1 !important;
}

#develop {
    width: 404.22px;
    white-space: nowrap;
}
#develop::before {
    width: 404.22px;
    content: 'Develop';
    transition: 0.5s;
}
#develop::after {
    width: 404.22px;
    background-color: transparent;
    transition: 0.5s;
    content: 'Develop';
    margin-left: -425.7px;
    opacity: 0;
    background-image: linear-gradient(45deg, #fa1f1f, #1effff 80%);
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.develop::after {
    opacity: 1 !important;
}

#devops {
    width: 391.75px;
    white-space: nowrap;
}
#devops::before {
    width: 391.75px;    
    content: 'DevOps';
    transition: 0.5s;
}
#devops::after {
    width: 391.75px;
    background-color: transparent;
    transition: 0.5s;
    content: 'DevOps';
    margin-left: -413px;
    opacity: 0;
    background-image: linear-gradient(45deg, #FF4D4D, #ff28ed 80%);
    -webkit-text-stroke: 2px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.devops::after {
    opacity: 1 !important;
}

.hero-footer {
    margin-top: 30px;
    color: #666666;
    text-align: center;
}

.explore {
    background-color: var(--chameleo-green);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 100px;
}

.explore-text {
    color: #ffffff;
}

.details {
    width: 90%;
    padding: 40px 0;
    margin: -50px auto 0 auto;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.details-column {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-right: 1px solid #e5e5e5; */
}

.details-icon {
    height: 48px;
}

.details-header {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
}

.details-summary {
    margin-top: 30px;
    color: #666666;
    text-align: center;
}

.details-list {
    margin-top: 30px;
    color: var(--chameleo-green);
}

.details-list-content {
    margin-top: 10px;
    color: #666666;
    text-align: center;
    line-height: 25px;
}

.details-divider {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.recent-work {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    border-bottom: 1px solid #e5e5e5;
}

.recent-work-header {
    color: var(--chameleo-green);
}

.recent-work-text {
    margin-top: 20px;
    color: #666666;
}

.recent-companies {
    display: flex;
    margin-top: 50px;
    column-gap: 30px;
}

.recent-companies a img {
    height: 40px;
}

.projects {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.projects-header {
    color: var(--chameleo-green);
}

.projects-text {
    margin-top: 20px;
    color: #666666;
}

.projects-row {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.project-container {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px 30px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

.project-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
}

.project-icon {
    height: 25px;
}

.project-points {
    margin-top: 15px;
    list-style-position: outside;
    padding-left: 10px;
}

.project-points li {
    color: #666666;
    margin-top: 10px;
}

.project-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 20px;
}

.live-button {
    width: 100%;
    font-size: 14px;
    padding: 7px 0;
    background-color: var(--chameleo-green);
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.live-button:disabled {
    background-color: #66666688;
    cursor: not-allowed;
}

.github-button {
    width: 100%;
    font-size: 14px;
    padding: 7px 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid var(--chameleo-green);
    cursor: pointer;
}

.flex-grow {
    flex-grow: 1;
}

.footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 20px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #666666;
}

.footer-text a {
    color: #666666;
}